
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+TZ+Guides&display=swap');


#leftcnt {
  font-family: "manrope";
}
#lefttitle {
  font-weight: 800;
}
#span {
  color: #6200ea;
  background: -webkit-linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ff6568 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#leftp {
  font-family: "karla";
  letter-spacing: 4px;
  font-weight: normal;
}

#glossy {
  border-color: rgb(184, 165, 213);
  border-radius: 50%;
  border-width: 1px;
}

#exbtn {
  background-image: linear-gradient(135deg, #f567ff 10%, #1904e5 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
  font-family: "manrope";
}
#leftname{
  font-family: "manrope";
  padding: 1rem 0;
}

#backdesign{
  background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E2DE2, #4A00E0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E2DE2, #4A00E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#spn{
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


/* css for order button  */

/* From Uiverse.io by Madflows */ 
.button1 {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button1:hover::before {
  transform: scaleX(1);
}

.button-content1 {
  position: relative;
  z-index: 1;
}

.button1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
