

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');



*{
    font-family: "karla";
}

#innercontainer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#outercontainer{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
#outercontainer:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
h4{ 
    letter-spacing: 1px;  
}
h6 {
    background: #FFFFFF;
background: linear-gradient(to right, #FFFFFF 0%, #c488ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

  filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);

  }

  h5{
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #9b9b9b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
      filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
  }

#whitePrice{
    background: #FFFFFF;
    background: linear-gradient(to right, #000000 0%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
  #cardDetail{
    font-size: medium;
    
}
#p{
    letter-spacing: 1px;
    
    font-weight: 200;
}

#orderbutton{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

