

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');



*{
    font-family: "karla";
}

#innercontainer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#outercontainer{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
#outercontainer:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
h4{ 
    letter-spacing: 1px;  
}
h6 {
    background: #FFFFFF;
background: linear-gradient(to right, #FFFFFF 0%, #c488ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

  filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);

  }

  h5{
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #9b9b9b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
      filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
  }

#whitePrice{
    background: #FFFFFF;
    background: linear-gradient(to right, #000000 0%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
  #cardDetail{
    font-size: medium;
    
}
#p{
    letter-spacing: 1px;
    
    font-weight: 200;
}

#orderbutton{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* From Uiverse.io by kennyotsu */ 
.card {
  /* color used to softly clip top and bottom of the .words container */
  --bg-color: rgb(248 250 252 / var(--tw-bg-opacity));
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}
.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #956afa;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
